<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Autor de la práctica</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h2>Autor: Víctor García Muñoz</h2>
		<h3>Mi foto va a ir aquí</h3>
		<picture>
  			<img src="/images/0001.jpg"
    			 alt="Roque Nublo"
    			 style="max-width: 100%; max-height: 75%" />
		</picture>
	</body>
</html>
