<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Autor de la práctica</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h2>Autor: Víctor García Muñoz</h2>
  			<img src="/images/0001.jpg" width=190 height=160>
    		</img>
	</body>
</html>
